.btns-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.page-btn {
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  font-size: 0.875rem;
  padding: 0.5em 0.75em;
  margin-right: 0.75rem;
  display: inline-block;
  min-width: 48px;
  background: var(--color-main);
  color: var(--white);
  border: 2px solid var(--color-main);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.btns-container .page-btn:last-child {
  margin-right: 0;
}

.active-btn {
  background: var(--white);
  color: var(--black);
}

.num-btn {
  display: inline-block;
}

@media (max-width: 500px) {
  .page-btn {
    font-size: 0.625rem;
    min-width: 36px;
    padding: 0.5em;
  }
}

@media (max-width: 300px) {
  .num-btn {
    display: none;
  }
}
